*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body{
    background-image:linear-gradient(to bottom right, rgba(79,51,176,1.0),rgb(239,228,231));
}
.description{
    margin-left:100px;
    margin-top:30px;
    color:rgb(236, 68, 68);
    font-size: 55px !important;


}
.container{
    height: 100vh;


    width:100vw;
    display:grid;
    place-items:center;
}
button.choice{
    margin: 15px;
    width: 400px;
    border-radius:15px;
    height: 60px;
}
button.choice:hover{
    background-color:aqua;
    transform: scale(1.1);
    cursor: pointer;
    
}
.stars{
    margin-top:-500px;
    
    margin-left:270px;
}
img.starsbold{
    /* background-color: rgb(238, 255, 2); */
    border-radius: 10px;
    height: 90px;
    width:400px;
}
i.Vol,#Vol{
    border-radius: 30px;
    background-color: rgb(0, 255, 255);
    
}
button#Vol:hover{
transform:scale(1.1);
background-color:rgb(247, 0, 255);
}
.gameVol{
    margin-left: 1100px;
    border-radius: 30px;
}
.snakePng{
    width: 600px;
    height: 580px;
    margin-left: -480px;
    margin-top: -30px;
    padding: 15px;
}
div.option{
    margin-left: 290px;
    margin-top: -190px;
   
}
.snakeImage{
    margin: 20px;
    height: 200px;
    margin-left: -330px;
  }

.play{
    font-size: 2.5em !important;
    margin-top: -35px;
    margin-left: 170px;
   
    
}